# =====================
# Node / React
# =====================
node_modules/
dist/
build/

# =====================
# .NET
# =====================
bin/
obj/

# =====================
# Environment
# =====================
.env
.env.local

# =====================
# Logs
# =====================
*.log

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
